<footer>
  <div id="footer_inner">
    <p>
      Copyright &copy; 2018 Alex Chan and contributors.
      Prose is <a id="footer__cc" href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> licensed, code is <a id="footer__mit" href="https://opensource.org/licenses/MIT">MIT</a>.
    </p>

    <p id="contact_links">
      Get in touch:&nbsp;
      <ul class="dot_list">
        <li><a id="footer__email" href="{{ site.email | encode_mailto }}">email</a></li>
        <li><a id="footer__github" href="{{ site.github_repo }}">github</a></li>
      </ul>
    </p>
  </div>
</footer>
