<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@alexwlchan" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.summary }}">
<meta name="twitter:image" content="{{ site.url }}/theme/apple-touch-icon.png" />

<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:image" content="{{ site.url }}/theme/apple-touch-icon.png" />
<meta property="og:description" content="{{ page.summary }}" />
