---
layout: default
---
<article class="page">
  {% if page.title %}
  <h1 class="title page__title">
    <a href="{{ site.url }}{{ page.url }}">{{ page.title | smartify | escape }}</a>
  </h1>
  {% endif %}

  {% if page.last_updated %}
  <div class="page__meta">
    <ul class="dot_list">
      {% if page.last_updated %}
      <li class="page__date">Last updated {{ page.last_updated | date: site.date_format }}</li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  {% if page.summary %}
  <p class="intro">{{ page.summary | cleanup_text | smartify }}</p>
  {% endif %}

  {{ content | cleanup_text | smartify }}
</article>
