---
---

$primary-color: #048000;

@import "_settings.scss";
@import "_functions.scss";
@import "_mixins.scss";

@import "_layout.scss";
@import "_text.scss";

// Major page components
@import "_aside.scss";
@import "_footer.scss";

// Template-specific styles
@import "_page.scss";

// Minor/optional page components
@import "_figures.scss";
@import "_tweets.scss";

.idea__summary {
  margin-bottom: 4px;

  & + p {
    margin-top: 4px;
  }
}

.separator {
  color: $light-grey;
  text-align: center;
  font-size: 2em;
  margin-top:    1em;
  margin-bottom: 1em;
}

.separator__sec {
  color: $light-green;
  margin-top:    1.3em;
  margin-bottom: 1.3em;
}
